
body {
  background-image: url('images/BG2.jpg');
  background-repeat: no-repeat;
  background-size:auto;
  background-position: center;
  background-color: #a3a2a2bb;
  /* Initial background color */


}

